{% load humanize %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/af-2.3.2/b-1.5.4/b-colvis-1.5.4/b-html5-1.5.4/b-print-1.5.4/cr-1.5.0/fc-3.2.5/fh-3.1.4/r-2.2.2/rg-1.1.0/rr-1.2.4/sc-1.5.0/sl-1.2.6/datatables.min.css"/>
 
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/af-2.3.2/b-1.5.4/b-colvis-1.5.4/b-html5-1.5.4/b-print-1.5.4/cr-1.5.0/fc-3.2.5/fh-3.1.4/r-2.2.2/rg-1.1.0/rr-1.2.4/sc-1.5.0/sl-1.2.6/datatables.min.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
        $('#debt_table').DataTable( {
            "dom": '<"top"iflp<"clear">>rt<"bottom"iflp<"clear">>',
            "scrollY": true,
            "scrollX": true,
            "language": {
            "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Japanese.json",
            },
        } );

    // var table = $('#debt_table').DataTable( {
    //     "scrollY": "400px",
    //     "paging": false
    // } );

    // $('a.toggle-vis').on( 'click', function (e) {
    //     e.preventDefault();
 
    //     // Get the column API object
    //     var column = table.column( $(this).attr('data-column') );
 
    //     // Toggle the visibility
    //     column.visible( ! column.visible() );
    // } );



      } );



</script>

<div class="table-responsive">
        <table id="debt_table" class="table display">
          <thead>
            <tr>
              <th>金融機関名</th>
              <th>返済期間</th>
              <th>月返済額</th>
              <th>元本</th>
              <th>金利</th>
              <th>協会</th>
              <th>担保</th>
              <th>代表者保証</th>
              <th>現残高</th>
              <th></th>
            </tr>
          </thead>
          <tbody id="debt_list">
            {% for item in object_list %}
            <tr>                   
              <th scope="row">{{ item.bank_name }}</th>
              <td>{{item.first_payment_date.year }}.{{item.first_payment_date.month }}
                  - {{item.last_payment_date.year }}.{{item.last_payment_date.month }}
                  ({{ item.payment_terms }}回)</td>
              <td>{{ item.get_thousand_monthly2|intcomma }}千円</td>
              <td>{{ item.get_thousand_principal|intcomma }}千円</td>
              <td>{{ item.interest }}%</td>
              <td>{% if item.is_kyokai %}〇{% else %}-{% endif %}</td>
              <td>{% if item.is_tanpo %}〇{% else %}-{% endif %}</td>
              <td>{% if item.is_dhosho %}〇{% else %}-{% endif %}</td>
              <td  style="text-align:left">{{ item.get_current_0|intcomma }}千円</td>
              <td><button type="button" class="btn btn-outline-primary btn-sm">
                      <a href="{% url 'bankuru:debt_detail' item.id %}">詳細</a></button></td>
              {% empty %}
              借入がありません。            
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

