{% extends 'bankuru/base.html' %}
{% load humanize %}
{% load staticfiles %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<section class="tables">   
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header d-flex align-items-center p-3">
              <ul class="nav nav-tabs">
                <li class="nav-item">
                    <h3 class="h4"><a href="#tab1" class="nav-link" data-toggle="tab">全借入一覧</a></h3>
                </li>
                <li class="nav-item">
                    <h3 class="h4"><a href="#tab2" class="nav-link" data-toggle="tab">金融機関別</a></h3>
                </li>
                <li class="nav-item">
                    <h3 class="h4"><a href="#tab3" class="nav-link" data-toggle="tab">保全別</a></h3>
                </li>
                <li class="nav-item">
                    <h3 class="h4"><a href="#tab4" class="nav-link" data-toggle="tab">金融機関・保全別</a></h3>
                </li>
              </ul>
          </div>

          <div class="card-body">
            <div class="tab-content">
              <div id="tab1" class="tab-pane active">
                {% include 'bankuru/debt_list_tab_all.html' %}
              </div>
              <div id="tab2" class="tab-pane">
                {% include 'bankuru/debt_list_tab_bybank.html' %}
              </div>
              <div id="tab3" class="tab-pane">
                {% include 'bankuru/debt_list_tab3.html' %}
              </div>
              <div id="tab4" class="tab-pane">
                {% include 'bankuru/debt_list_tab4.html' %}
              </div>
            </div>

            <hr>
            <a href="{% url 'bankuru:debt_create' %}" class="btn btn-primary">
                新しい借り入れの登録</a>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock %}


